<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock%}</title>

    {% load static %}
    <link href="{% static 'CursosDjango/css/estilo.css'%}" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- MENÚ -->
    <p class="menu">
        <a href="{% url 'Principal' %}" class="{% if request.resolver_match.url_name == 'Principal' %}active{% endif %}">Home</a>
        <a href="{% url 'Cursos' %}" class="{% if request.resolver_match.url_name == 'Cursos' %}active{% endif %}">Cursos</a>
        <a href="{% url 'Contacto' %}" class="{% if request.resolver_match.url_name == 'Contacto' %}active{% endif %}">Contáctanos</a>
    </p>

    <!-- CONTENIDO -->
    {% block contenido %}{% endblock %}
</body>
</html>
