{% extends "CursosDjango/encabezado.html" %}
{% block titulo %} PRINCIPAL {% endblock%}
{% block contenido %}

<H1 style='color: red;'>CURSOS DJANGO</H1>
<h3>Bienvenido a la página de cursos de Django</h3>
<p>
    En esta página encontraras material para convertirte en un experto en el 
    desarrollo con python, espero que este material te sea de ayuda, el material
    va desde lo más basico como las bases de datos hasta la programación, necesitas
    estar familiarizado con python para tomar este curso, te recomendamos que si no
    tienes experiencia, tomes antes un curso de python basico ya que durante el curso 
    daremos por hecho que sabes python basico.
</p>

{% endblock %}
